@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body{
    font-size: inherit;
    box-sizing: inherit;
    font-family: inherit;
    background-color: #fff;
}

::before,::after,input,button {
    font-family: inherit;
}

.container{
    margin: 3rem 8rem;

    @media only screen and (max-width:570px){
        margin: 2rem 5rem;
    }

    h1{
        font-size: 3rem;
        font-weight: 400;
        color: #001f3f;
    }
    form{
        margin: 3rem 0rem;
    }
    label{
        font-weight: 400;
        display: block;
        font-size: 1.5rem;
        margin-bottom: .5rem;
        color: #001f3f;
    }
    input{
        padding: .5rem 1rem;
        border-radius: .5rem;
        border: 1px solid #bbb;
    }
    button{
        border: .5px solid #999;
        background-color: #fff;
        padding: .5rem 1rem;
        border-radius: .5rem;
        margin: 1rem 0rem;
        cursor: pointer;
        transition: all .1s;

        &:hover{
            background-color: #ccc;
        }
    }
    li{
        font-size: 1.5rem;
        color: #001f3f;
    }
}